.background {
  background-image: url("res://bg_1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.form-controls .field {
  background-color: blue;
}