<GridLayout>

  <GridLayout #background class="background"></GridLayout>

  <StackLayout orientation="vertical" horizontalAlignment="center">

    <Image src="res://logo" stretch="none"></Image>
    <Label text="ESCOLHA A LOCALIZAÇÃO"></Label>

    <StackLayout #formControls class="form-controls">
      <Label text="cidade" class="field"></Label>
      <Label text="Local" class="field"></Label>
      <Label text="btn Salvar" class="field"></Label>
    </StackLayout>

  </StackLayout>

</GridLayout>